h1 {
    text-align: center;
    -webkit-text-fill-color: rebeccapurple;
    font-family: 'Faster One', cursive;
}

p {
    text-align: center;
    font-style: italic;
}
img {
    height: 250px;
    width: 100%;
    border-radius: 8px;
}

#title {
    text-align: center;
    -webkit-text-fill-color: rebeccapurple;
    font-family: 'Faster One', cursive;
    font-size: 50px;
}

#intro {
    text-align: center;
    color: green;
}

#login {
    text-align: center;
    color: green;
    font-size: 25px;
}

#parkchoice {
    text-align: center;
}

body {
    background-color: #EEEEEE;
}

#background {
    background-color: #EEEEEE;

}

#doom {
   width: 300px;
   height: 350px;
   margin-left: 10%;
}